daphne
djangorestframework
ipdb
openai
pip-chill
pyopenssl
redis
seaborn
sentence-transformers
service-identity
zope.interface
# annotated-types # Installed as dependency for pydantic
# anyio # Installed as dependency for httpx, openai
# asgiref # Installed as dependency for daphne, django
# asttokens # Installed as dependency for stack-data
# async-timeout # Installed as dependency for redis
# attrs # Installed as dependency for automat, service-identity, twisted
# autobahn # Installed as dependency for daphne
# automat # Installed as dependency for twisted
# certifi # Installed as dependency for httpcore, httpx, requests
# cffi # Installed as dependency for cryptography
# charset-normalizer # Installed as dependency for requests
# click # Installed as dependency for nltk
# constantly # Installed as dependency for twisted
# contourpy # Installed as dependency for matplotlib
# cryptography # Installed as dependency for autobahn, pyopenssl, service-identity
# cycler # Installed as dependency for matplotlib
# decorator # Installed as dependency for ipdb, ipython
# distro # Installed as dependency for openai
# django # Installed as dependency for djangorestframework
# exceptiongroup # Installed as dependency for anyio, ipython
# executing # Installed as dependency for stack-data
# filelock # Installed as dependency for huggingface-hub, torch, transformers, triton
# fonttools # Installed as dependency for matplotlib
# fsspec # Installed as dependency for huggingface-hub, torch
# h11 # Installed as dependency for httpcore
# httpcore # Installed as dependency for httpx
# httpx # Installed as dependency for openai
# huggingface-hub # Installed as dependency for sentence-transformers, tokenizers, transformers
# hyperlink # Installed as dependency for autobahn, twisted
# idna # Installed as dependency for anyio, httpx, hyperlink, requests
# incremental # Installed as dependency for twisted
# ipython # Installed as dependency for ipdb
# jedi # Installed as dependency for ipython
# jinja2 # Installed as dependency for torch
# joblib # Installed as dependency for nltk, scikit-learn
# kiwisolver # Installed as dependency for matplotlib
# markupsafe # Installed as dependency for jinja2
# matplotlib # Installed as dependency for seaborn
# matplotlib-inline # Installed as dependency for ipython
# mpmath # Installed as dependency for sympy
# networkx # Installed as dependency for torch
# nltk # Installed as dependency for sentence-transformers
# numpy # Installed as dependency for contourpy, matplotlib, pandas, scikit-learn, scipy, seaborn, sentence-transformers, torchvision, transformers
# nvidia-cublas-cu12 # Installed as dependency for nvidia-cudnn-cu12, nvidia-cusolver-cu12, torch
# nvidia-cuda-cupti-cu12 # Installed as dependency for torch
# nvidia-cuda-nvrtc-cu12 # Installed as dependency for torch
# nvidia-cuda-runtime-cu12 # Installed as dependency for torch
# nvidia-cudnn-cu12 # Installed as dependency for torch
# nvidia-cufft-cu12 # Installed as dependency for torch
# nvidia-curand-cu12 # Installed as dependency for torch
# nvidia-cusolver-cu12 # Installed as dependency for torch
# nvidia-cusparse-cu12 # Installed as dependency for nvidia-cusolver-cu12, torch
# nvidia-nccl-cu12 # Installed as dependency for torch
# nvidia-nvjitlink-cu12 # Installed as dependency for nvidia-cusolver-cu12, nvidia-cusparse-cu12
# nvidia-nvtx-cu12 # Installed as dependency for torch
# packaging # Installed as dependency for huggingface-hub, matplotlib, transformers
# pandas # Installed as dependency for seaborn
# parso # Installed as dependency for jedi
# pexpect # Installed as dependency for ipython
# pillow # Installed as dependency for matplotlib, torchvision
# prompt-toolkit # Installed as dependency for ipython
# ptyprocess # Installed as dependency for pexpect
# pure-eval # Installed as dependency for stack-data
# pyasn1 # Installed as dependency for pyasn1-modules, service-identity
# pyasn1-modules # Installed as dependency for service-identity
# pycparser # Installed as dependency for cffi
# pydantic # Installed as dependency for openai
# pydantic-core # Installed as dependency for pydantic
# pygments # Installed as dependency for ipython
# pyparsing # Installed as dependency for matplotlib
# python-dateutil # Installed as dependency for matplotlib, pandas
# pytz # Installed as dependency for djangorestframework, pandas
# pyyaml # Installed as dependency for huggingface-hub, transformers
# regex # Installed as dependency for nltk, transformers
# requests # Installed as dependency for huggingface-hub, torchvision, transformers
# safetensors # Installed as dependency for transformers
# scikit-learn # Installed as dependency for sentence-transformers
# scipy # Installed as dependency for scikit-learn, sentence-transformers
# sentencepiece # Installed as dependency for sentence-transformers
# six # Installed as dependency for asttokens, automat, python-dateutil
# sniffio # Installed as dependency for anyio, httpx, openai
# sqlparse # Installed as dependency for django
# stack-data # Installed as dependency for ipython
# sympy # Installed as dependency for torch
# threadpoolctl # Installed as dependency for scikit-learn
# tokenizers # Installed as dependency for transformers
# tomli # Installed as dependency for ipdb
# torch # Installed as dependency for sentence-transformers, torchvision
# torchvision # Installed as dependency for sentence-transformers
# tqdm # Installed as dependency for huggingface-hub, nltk, openai, sentence-transformers, transformers
# traitlets # Installed as dependency for ipython, matplotlib-inline
# transformers # Installed as dependency for sentence-transformers
# triton # Installed as dependency for torch
# twisted # Installed as dependency for daphne
# txaio # Installed as dependency for autobahn
# typing-extensions # Installed as dependency for asgiref, huggingface-hub, openai, pydantic, pydantic-core, torch, twisted
# tzdata # Installed as dependency for pandas
# urllib3 # Installed as dependency for requests
# wcwidth # Installed as dependency for prompt-toolkit
# zope-interface # Installed as dependency for twisted
